In [8]:
import pandas as pd
import numpy as np

In [ ]:
store = pd.read_csv('../data/store.csv', index_col='Store')
train = pd.read_csv('../data/train.csv')

In [16]:
#Merge the train data with store data
df = train.merge(store, how='left', on='Store')

In [27]:
df.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,Promo2SinceYear,PromoInterval,2.0,NaN,3.0,4.0,5.0,6.0,7.0,1.0
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,...,2012.0,"Mar,Jun,Sept,Dec",3,3,3,3,3,3,NaN,NaN
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,...,NaN,NaN,3,3,3,3,3,3,NaN,NaN
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,...,NaN,NaN,3,3,3,3,3,3,NaN,NaN
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,...,2010.0,"Feb,May,Aug,Nov",3,3,3,3,3,3,NaN,NaN
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,...,NaN,NaN,3,3,3,3,3,3,NaN,NaN

In [56]:
df["DayOfWeek"].value_counts()

3.0    88947
4.0    88939
2.0    88877
1.0    88088
6.0    87982
7.0    87965
5.0    87959
Name: DayOfWeek, dtype: int64

In [63]:
import datetime as dt

In [66]:
date=pd.to_datetime(df["Date"])
df['weekday'] = date.dt.dayofweek
df['weekday'].value_counts()

3    91645
2    91645
1    91644
6    90710
5    90710
4    90710
0    90710
Name: weekday, dtype: int64

In [73]:
tuesdays=df[df.loc[:, 'DayOfWeek'] == 3]